/* main: ../../style.sass */

header
  position: relative
.header-top
  background-color: $blue
  .container
    display: flex
    height: 35px
    align-items: center
    font-size: 18px
    color: $white
    .im
      color: $orange
      font-size: 20px
      margin-right: 10px
    .top-link
      display: flex
      align-items: center
    .top-phone
      margin-right: 25px
    .fb-link
      margin-left: auto
      .im
        color: $white
.header-main
  background-color: $white
  border-bottom: 2px solid $blue
  .container
    display: flex
    align-items: center
    justify-content: space-between
    .main-menu-link
      display: flex
      flex-flow: column
      align-items: center
      border-right: 1px solid #bbb
      line-height: 1
      padding: 6px 15px
      font-size: 18px
      text-transform: uppercase
      margin-top: 10px
      .im
        font-size: 26px
        margin-bottom: 6px
    .menu-item
      position: relative
      height: 88px
      &.icomoon-promocii
        color: red
      &:before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 12px
        background-color: transparent
        $p: 65%
        clip-path: polygon(0 0, 100% 0, 100% 100%, 100% #{$p}, 55% #{$p}, 50% 100%, 45% #{$p}, 0 #{$p})
        transition: background-color 0.15s linear
      &:hover,&:focus,&.current-menu-item,&.current_page_item
        &::before
          background-color: $orange
.header-bot
  width: 1200px
  margin: 0 auto
  position: absolute
  bottom: -40px
  left: 50%
  transform: translateX(-50%)
  background-color: $blue
  color: $white
  #menu-top-menu
    padding: 0 15px
    .menu-item
      flex: auto
      text-align: center
      transition: background-color 0.15s linear
      &:hover,&:focus,&.current-menu-item,&current_page_item
        background-color: $orange
      a
        display: block
        height: 50px
        line-height: 50px
        width: 100%
        text-transform: uppercase
        font-size: 18px
